# 🔴 ML Models (VERY IMPORTANT)
*.pt
*.pth
*.onnx
*.engine

# 🔴 Training folders
backend/dental_train7/
backend/app/model/

# 🔴 Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

# 🔴 Node
node_modules/
dist/
build/

# 🔴 Logs
*.log

# 🔴 OS
.DS_Store
Thumbs.db